
<header>
			<div class="container">
				<h4>Project Name</h4>
				<ul>
					<li><a href="/signup" id="link-signup">Sign up</a> </li>
					<li><a href="/login" id="link-login">Login</a> <li>
					<li><a href="/fourm" id="link-fourm">Fourm</a> <li>
				</ul>
		   </div>
	</header>

<section class="intro-header">
<div class="container">
<div class="intro">
<h1>Welcome to our <strong><%= @keyword %></strong> project idea</h1>

 <h3>Please enter your email </h3>
 <input type="text" name="email">
 <input type="submit">
 </div>
</div>
</section>