


<section class="intro-header">
<div class="container">
<div class="intro">
<h1>Welcome to our <strong><%= @keyword %></strong> project idea</h1>

 <h3>Please enter your email </h3>
 <input type="text" name="email">
 <input type="submit">
 </div>
</div>
</section>